* {
    box-sizing: border-box; 
}

body{
    margin: 0;
    font-family: 'Oswald', sans-serif;
    background-color: lightgray;
}

.cabecalho {
    background-color: #333;
    height: 80px;
    
}

.logo {
    display: inline-block;
    height: 80px;
    padding: 15px;
}

.logo img{
    height: 100%;
}

.menu-toggle {
    float: right;
    color: white;
    background-color: #555;
    border: solid 1px #777;
    border-radius: 5px;
    height: 40px;
    padding: 10px 20px;
    margin: 20px 15px;
}

.menu {
    display: inline-block;
    vertical-align: top;
    height: 80px;
    padding: 25px;
    height: 80px;
}

.menu ul{
    margin: 0;
    padding: 0;
}

.menu li{
    display: inline-block;
}

.menu a{
    padding: 15px;
}

.cabecalho a{
    text-decoration: none;
    color: #eee;
    font-size: 1.3;
}

.autenticacao{
    float: right;
    height: 80px;
    padding: 25px;
}


.menu a:hover, 
.menu a.selected {
    background-color: red;
    color: #000;
    font-weight: bold;
}



.botao {
    border-radius: 30px;
    padding: 10px 25px;
    
}

.destaque {
    background-color: red;
    color:white;
    margin-left: 30px;
}


@media(min-width: 679px) {
    .menu-toggle {
        display: none;

    }

}

@media(max-width:680px){
    .menu {
        display:none;

    }
}