
.cabecalho2{
    display:flex;
    justify-content: space-between;
    align-items: center;

    background-color: #333;
    height: 80px;
}

.logo2 {
    display: inline-block;
    height: 80px;
    padding: 15px;
}

.logo2 img{
    height: 100%;
}

.menu2{
    flex-grow: 10;
}

.menu2 ul{
    display: flex;
    margin: 0 20px;
    padding: 0;
    height: 80px;
}

.menu2 li{
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.cabecalho2 a{
    text-decoration: none;
    color: #eee;
    font-size: 1.3;
}

.autenticacao2{
    margin: 25px;
}

.menu2 a:hover {
    background-color: red;
    color: #000;
    font-weight: bold;
}